.Main_container{
    /* border:1px solid teal; */
    padding:0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Category_container{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap:auto;
    /* border:1px solid red; */
    width:24rem;
    padding:0.7rem 0rem;
    margin-bottom:1rem;
}
.Category_container button{
    padding:0.5rem 1rem;
    border-radius:1.6rem;
    cursor: pointer;
    margin:0.3rem 0.5rem;
    font-weight: bold;
    border:none
}

.step-buttons button{
    padding:0.7rem 1rem;
    border-radius:0.6rem;
    cursor: pointer;
    margin:0.2rem;
    background-color: #6366f1;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  outline:none;
  border:none
}

.step-buttons .back-btn{
    width:95%;
}

.step-buttons .finish-btn{
width:95%;
}