.Card-container {
  /* border: 1px solid thistle; */
  margin-bottom: 1.4rem;
}

.Stiff_card{
  margin:0.8rem 0rem;
}
.Stiff_card h3{
  margin:0.7rem 0rem;
  font-size: 16.5px;
  font: bold;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-style: normal;
}
.Stiff_card img{
  width:20px;
  height:20px;
  border-radius:100%;
}
.stiff_card_upper{
  display:flex;
  gap:10px;
}

.stiff_card_upper p{
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.stiff_card_upper p span{
  color: var(--primary-color);
}
.Stiff_card .date_star{
  display: flex;
  gap:2rem;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 1rem; 
}
.Stiff_card .star{
  margin-top: 1px;
  color: rgb(255, 183, 1);
}

.Card-container h3 {
  font-family: var(--secondary-color);
}

.TypesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.8rem 0rem;
}

.TypesContainer button {
  padding: 0.6rem 1.7rem;
  border-radius: 1.7rem;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
  font-style: var(--secondary-font);
  margin:0.2rem
}

.see_more {
  font-size: 15px;
  font-weight: 600;
  color: var(--secondary-color);
  cursor: pointer;
}
.see_more:hover{
    text-decoration: underline grey 0.1rem;
    text-underline-offset:2px
}
.Profile_Container {
  margin: 1rem 0rem;
}
.Profile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0px;
  cursor: pointer;
}

.Boxbtn {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.profile {
  display: flex;
  gap: 0.5rem;
}
.profile p{
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 14px;
  margin-top:0.1rem
}
.profile > img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
